{% extends "main.html" %}

{% block contents %}

<form nema="form" method="POST", action="{{url_for('board.board_edit', idx=data._id)}}">
    <div class="form-group">
        <label for="name">작성자</label>
        <input class="form-control" type="text" name="name" value="{{session['name']}}" readonly>
    </div>
    <div class="form-group">
        <label for="title">제목</label>
        <input class="form-control" type="text" name="title" value="{{data.title}}">
    </div>
    <div class="form-group">
        <label for="contents">내용</label>
        <textarea rows="8" class="form-control" name="contents">{{data.contents}}</textarea>
    </div>
    
    <div class="text-center"><input class="btn btn-primary" type="submit" value="수정하기"></div>
</form>

{% endblock %}